.football__box {
    width: 720px;
    height: 220px;
    opacity: 1;
    border-radius: 37px;
    background-color: $football-field;
    margin: 36px 0px;
    border: solid 2px $text_border-color;
    position: relative;
}
#interactive-ball {
    position: absolute;
}
