.main__background {
    background-color: $background-color-under;

    &-front {
        background-image: url(../img/Group\ 141.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.main__title {
    @include text(24px);
    padding-bottom: 36px;
}
.section__title {
  @include text(16px);
  padding-top: 36px;
  text-align: center;
  position: relative;
}
.section__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 536px;
  height: 1px;
  background-color: $text_border-color;
  transform: translateX(-50%);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}