.rock__paper-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0px;
    gap: 30px;
}
#rock-paper-count, #computer-score , #user-score {
    margin-left: 10px;
}
.rock__paper-move {
    display: flex;
    gap: 38px;
}
.rock__paper-button {
    width: 60px;
    height: 60px;
    top: 599px;
    left: 592px;
    opacity: 1;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    background-color: $text_border-color;
}
.rock__paper-computermove {
    @include text(12px);
    color: $background-color; 
    width: 182px;
    height: 35px;
    top: 746px;
    left: 629px;
    opacity: 1;
    border-radius: 20px;
    gap: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: $text_border-color;
    margin: 36px 0px;
}