.scientist__category-button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: $text_border-color;
    @include text(12px);
    color: $background-color;
}
.scientist__category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.scientist__photos-item {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.scientist__photos {
    display: flex;
    flex-wrap: wrap;
    gap: 59px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    height: 420px;
    margin: 36px 0px;
}
.scientist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}