.three__numbers-input {
    width: 135px;
    height: 35px;
    top: 1977px;
    left: 652px;
    opacity: 1;
    border-radius: 20px;
    gap: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: none;
    background: $button-background-color;
    box-shadow: 3px 3px 0px 0px $shadow-color;
    @include text(12px);
}
.three__numbers-inputs {
    display: flex;
    flex-direction: row;
    gap: 38px;
    padding: 36px 0px;
}
.three-numbers-text {
    @include text(12px);
    color: $text_border-color; 
    padding-bottom: 36px;
}
#three__numbers-check {
    width: 182;
    height: 35;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: $text_border-color;
    color: $background-color;
    margin-bottom: 20px;
}
.three__numbers-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
}