%box-style {
    display: flex;
    position: relative;
    padding: 36px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
%button-style {
    @include text(12px);
    color: rgb(126, 126, 126);
    border: none;
    background-color: rgb(215, 215, 215);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}