$background-color: rgba(255, 255, 255, 1);
$background-color-under: rgba(241, 241, 241, 1);
$text_border-color: rgba(0, 0, 0, 1);
$button-text-color: rgba(126, 126, 126, 1);
$button-background-color: rgba(215, 215, 215, 1);
$shadow-color: rgba(0, 0, 0, 0.25);
$header-switch-color: rgba(122, 122, 122, 1);
$football-field: rgba(90, 187, 88, 1);